<nav class="black menu-pegado">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">ShareApp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">New Package</a></li>
        <li><a href="/update">Edit Package</a></li>
      </ul>
    </div>
  </nav>